{% if memories is defined and memories %}
{{ memories }}

---
{% endif %}
{% if history is defined and history %}
{{ history }}

---
{% endif %}
CONTESTO (estratti wiki):
{{ context }}

DOMANDA:
{{ question }}

RISPOSTA (in {{ pack.language }}, con sezione Fonti in fondo):
