{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }} ({{ .CommonLabels.severity }})
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Summary:* {{ .Annotations.summary }}
{{ if .Annotations.description }}*Description:* {{ .Annotations.description }}{{ end }}
{{ if .Labels.service }}*Service:* `{{ .Labels.service }}`{{ end }}
{{ if .Labels.tenant_id }}*Tenant:* `{{ .Labels.tenant_id }}`{{ end }}
{{ if .Labels.instance }}*Instance:* `{{ .Labels.instance }}`{{ end }}
*Started:* {{ .StartsAt.Format "2006-01-02 15:04:05 MST" }}
{{ if ne .Status "firing" }}*Resolved:* {{ .EndsAt.Format "2006-01-02 15:04:05 MST" }}{{ end }}
*Silence:* {{ template "__alert_silence_link" . }}
---
{{ end }}
{{ end }}

{{ define "__alert_silence_link" -}}
<{{ .ExternalURL }}/#/silences/new?filter=%7Balertname%3D%22{{ .Labels.alertname }}%22%7D|silence>
{{- end }}
