{% if memories is defined and memories %}
{{ memories }}

---
{% endif %}
{% if history is defined and history %}
{{ history }}

---
{% endif %}
CONTESTO:
{{ context }}

DOMANDA:
{{ question }}

RISPOSTA (italiano, divulgativa, con sezione Fonti in fondo):
